---
# Defines tasks applicable for Google Authenticator

- name: Configure Google Authenticator 2FA (Debian)
  when: ansible_os_family == "Debian"
  block:
    - name: Ensure required packages are installed for Google Authenticator
      ansible.builtin.apt:
        name:
          - libpam-google-authenticator
          - libpam0g-dev
          - libqrencode3
        state: present
        update_cache: yes

    - name: Gather package facts
      ansible.builtin.package_facts:
        manager: auto

    - name: Set SSH defaults
      ansible.builtin.set_fact:
        sshd_config: "{{ sshd_config | default('/etc/ssh/sshd_config') }}"
        ssh_daemon: "{{ ssh_daemon | default('ssh') }}"

    - name: Set Google Authenticator label domain
      ansible.builtin.set_fact:
        cybera_google_auth_domain: "{{ domain | default(ansible_facts.domain | default(ansible_facts.fqdn | default(inventory_hostname))) }}"

    - name: Extract OpenSSH version
      ansible.builtin.set_fact:
        openssh_pkg: "{{ (ansible_facts.packages.get('openssh-server', []) | first) | default({}) }}"
        openssh_version_raw: "{{ openssh_pkg.version | default('') }}"
        openssh_version_mm: "{{ (openssh_version_raw | regex_search('([0-9]+\\.[0-9]+)')) | default('0.0', true) }}"

    - name: Update SSH configuration (8.2 and earlier)
      ansible.builtin.lineinfile:
        path: "{{ sshd_config }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
        backup: yes
        validate: 'sshd -t -f %s'
      loop:
        - regexp: '(^UsePAM .*)'
          line: 'UsePAM yes'
        - regexp: '(^ChallengeResponseAuthentication .*)'
          line: 'ChallengeResponseAuthentication yes'
        - regexp: '(^UseDNS .*)'
          line: 'UseDNS no'
      when: openssh_version_mm is version('8.2', '<=')

    - name: Comment out ChallengeResponseAuthentication from SSH configuration (8.7 and later)
      ansible.builtin.lineinfile:
        path: "{{ sshd_config }}"
        regexp: '(^ChallengeResponseAuthentication .*)'
        line: '#ChallengeResponseAuthentication yes'
        backup: yes
        state: present
        validate: 'sshd -t -f %s'
      when: openssh_version_mm is version('8.7', '>=')

    - name: Update SSH configuration (8.7 and later)
      ansible.builtin.lineinfile:
        path: "{{ sshd_config }}"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
        backup: yes
        validate: 'sshd -t -f %s'
      loop:
        - regexp: '(^UsePAM .*)'
          line: 'UsePAM yes'
        - regexp: '(^KbdInteractiveAuthentication .*)'
          line: 'KbdInteractiveAuthentication yes'
        - regexp: '(^UseDNS .*)'
          line: 'UseDNS no'
      when: openssh_version_mm is version('8.7', '>=')

    - name: Add Google authenticator to PAM
      ansible.builtin.lineinfile:
        path: /etc/pam.d/sshd
        line: "auth required pam_google_authenticator.so"
        insertbefore: BOF
        state: present

    - name: Generate a timed-based, no reuse, rate-limited (3 logins per 30 seconds) with one concurrently valid code for default user (ansible_user)
      ansible.builtin.command:
        cmd: >-
          google-authenticator -t -f -d
          --label="{{ ansible_user }}@{{ cybera_google_auth_domain }}"
          --qr-mode=ANSI -r 3 -R 30 -w 1
          --secret=/home/{{ ansible_user }}/.google_authenticator
        creates: "/home/{{ ansible_user }}/.google_authenticator"
      become: true
      become_user: "{{ ansible_user }}"

    - name: Retrieve generated keys from server
      ansible.builtin.fetch:
        src: "/home/{{ ansible_user }}/.google_authenticator"
        dest: /tmp/google-auth-files

    - name: Pause to allow saving of generated keys
      ansible.builtin.pause:
        seconds: 5
        prompt: "Your Google Authentication keys are in /tmp/google-auth-files. Press Enter to restart SSH..."

    - name: Restart SSH daemon
      ansible.builtin.service:
        name: "{{ ssh_daemon }}"
        state: restarted
      when: not ansible_check_mode
