---
- name: Ensure iptables-persistent is installed
  package:
    name: iptables-persistent
    state: present
  when: not cybera_install_iptables_persistent_workaround

- name: Install iptables-persistent workaround
  when: cybera_install_iptables_persistent_workaround
  block:
    - name: create /etc/iptables directory
      file:
        name: /etc/iptables
        state: directory
        owner: root
        group: root
        mode: 0755

    - name: Install service file
      copy:
        src: files/iptables/netfilter-persistent.service
        dest: /etc/systemd/system/netfilter-persistent.service
        owner: root
        group: root
        mode: 0644
      notify: Reload systemd

    - name: Install netfilter-persistent script
      copy:
        src: files/iptables/netfilter-persistent
        dest: /usr/local/sbin/netfilter-persistent
        owner: root
        group: root
        mode: 0750

    - name: Manage the netfilter-persistent service
      systemd:
        name: netfilter-persistent
        enabled: yes
      when: not ansible_check_mode

    - name: Ensure netfilter-persistenet is running
      systemd:
        name: netfilter-persistent
        state: started
      when: not ansible_check_mode

- name: Ensure iptables is installed
  package:
    name: iptables
    state: present

- name: Ensure /etc/iptables exists
  file:
    path: /etc/iptables
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Allow IPv4 traffic to lo
  iptables:
    chain: INPUT
    in_interface: lo
    ip_version: ipv4
    jump: ACCEPT
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow IPv6 traffic to lo
  iptables:
    chain: INPUT
    in_interface: lo
    ip_version: ipv6
    jump: ACCEPT
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Accept all IPv6 ICMP
  iptables:
    chain: INPUT
    protocol: ipv6-icmp
    ip_version: ipv6
    jump: ACCEPT
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow established traffic from IPv4
  iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    ip_version: ipv4
    jump: ACCEPT
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow established traffic from IPv6
  iptables:
    chain: INPUT
    ctstate: ESTABLISHED,RELATED
    ip_version: ipv6
    jump: ACCEPT
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow traffic from globally trusted IPv4 sources
  iptables:
    chain: INPUT
    source: "{{ item }}"
    protocol: all
    ip_version: ipv4
    jump: ACCEPT
  loop: "{{ cybera_networks_ipv4_trusted_global }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow traffic from trusted IPv4 sources
  iptables:
    chain: INPUT
    source: "{{ item }}"
    protocol: all
    ip_version: ipv4
    jump: ACCEPT
  loop: "{{ cybera_networks_ipv4_trusted }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow all IPv4 traffic to open ports
  iptables:
    chain: INPUT
    destination_port: "{{ (item|dict2items).0.value }}"
    protocol: "{{ (item|dict2items).0.key }}"
    ip_version: ipv4
    jump: ACCEPT
  loop: "{{ cybera_open_ports_ipv4 }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow defined IPv4 ICMP types/codes
  iptables:
    chain: INPUT
    comment: "{{ (item|dict2items).0.key }}"
    icmp_type: "{{ (item|dict2items).0.value }}"
    protocol: icmp
    ip_version: ipv4
    jump: ACCEPT
  loop: "{{ cybera_open_icmp_types_codes_ipv4 }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow traffic from globally trusted IPv6 sources
  iptables:
    chain: INPUT
    source: "{{ item }}"
    protocol: all
    ip_version: ipv6
    jump: ACCEPT
  loop: "{{ cybera_networks_ipv6_trusted_global }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow traffic from trusted IPv6 sources
  iptables:
    chain: INPUT
    source: "{{ item }}"
    protocol: all
    ip_version: ipv6
    jump: ACCEPT
  loop: "{{ cybera_networks_ipv6_trusted }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Allow all IPv6 traffic to open ports
  iptables:
    chain: INPUT
    destination_port: "{{ (item|dict2items).0.value }}"
    protocol: "{{ (item|dict2items).0.key }}"
    ip_version: ipv6
    jump: ACCEPT
  loop: "{{ cybera_open_ports_ipv6 }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Deny traffic from globally untrusted IPv4 sources
  iptables:
    chain: INPUT
    source: "{{ item }}"
    protocol: all
    ip_version: ipv4
    jump: DROP
  loop: "{{ cybera_networks_ipv4_untrusted_global }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Deny traffic from untrusted IPv4 sources
  iptables:
    chain: INPUT
    source: "{{ item }}"
    protocol: all
    ip_version: ipv4
    jump: DROP
  loop: "{{ cybera_networks_ipv4_untrusted }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Deny traffic from globally untrusted IPv6 sources
  iptables:
    chain: INPUT
    source: "{{ item }}"
    protocol: all
    ip_version: ipv6
    jump: DROP
  loop: "{{ cybera_networks_ipv6_untrusted_global }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Deny traffic from untrusted IPv6 sources
  iptables:
    chain: INPUT
    source: "{{ item }}"
    protocol: all
    ip_version: ipv6
    jump: DROP
  loop: "{{ cybera_networks_ipv6_untrusted }}"
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Drop all other IPv4 traffic
  iptables:
    chain: INPUT
    ip_version: ipv4
    policy: DROP
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules

- name: Drop all other IPv6 traffic
  iptables:
    chain: INPUT
    ip_version: ipv6
    policy: DROP
  notify:
    - Save iptables IPv4 Rules
    - Save iptables IPv6 Rules
