---
- name: Ensure role runs on Ubuntu
  ansible.builtin.assert:
    that:
      - ansible_distribution == "Ubuntu"
    fail_msg: "ansible-cybera-common currently supports Ubuntu only."

- name: Manage acng
  ansible.builtin.include_tasks: acng.yml
  when: ansible_distribution == "Ubuntu"

- name: Refresh apt package cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_distribution == "Ubuntu"

- name: Manage the system timezone
  ansible.builtin.include_tasks: timezone.yml

- name: Manage iptables
  ansible.builtin.include_tasks: iptables.yml
  when: cybera_iptables

- name: Manage base packages
  ansible.builtin.include_tasks: packages.yml

- name: Manage system users
  ansible.builtin.include_tasks: users.yml
  tags: cybera_user_management

- name: Manage SSH keys
  ansible.builtin.include_tasks: ssh.yml
  tags: cybera_user_management

- name: Manage dotfiles
  ansible.builtin.include_tasks: dotfiles.yml
  when: cybera_install_dotfiles

- name: Manage IPv6 settings
  ansible.builtin.include_tasks: ipv6.yml

- name: Manage systemd
  ansible.builtin.include_tasks: systemd.yml

- name: Manage ubuntu quirks
  ansible.builtin.include_tasks: ubuntu.yml
  when: ansible_distribution == "Ubuntu"

- name: Manage automatic security updates
  ansible.builtin.include_tasks: security_updates.yml
  when: ansible_distribution == "Ubuntu"

- name: Manage rsyslog client
  ansible.builtin.include_tasks: rsyslog_client.yml
  when: ansible_distribution == "Ubuntu"

- name: Manage Postfix and mail aliases
  ansible.builtin.include_tasks: postfix_client.yml

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
