---
- name: Manage acng
  include_tasks: acng.yml
  when: ansible_os_family == "Debian"

- name: Refresh apt package cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600
  when: ansible_os_family == "Debian"

- name: Refresh yum package cache
  ansible.builtin.yum:
    update_cache: yes
  when: ansible_os_family == "RedHat"

- name: Manage the system timezone
  include_tasks: timezone.yml

- name: Manage iptables
  include_tasks: iptables.yml
  when: cybera_iptables

- name: Manage base packages
  include_tasks: packages.yml

- name: Manage system users
  include_tasks: users.yml
  tags: cybera_user_management

- name: Manage SSH keys
  include_tasks: ssh.yml
  tags: cybera_user_management

- name: Manage dotfiles
  include_tasks: dotfiles.yml
  when: cybera_install_dotfiles

- name: Manage IPv6 settings
  include_tasks: ipv6.yml

- name: Manage systemd
  include_tasks: systemd.yml

- name: Manage ubuntu quirks
  include_tasks: ubuntu.yml
  when: ansible_os_family == "Debian"

- name: Manage automatic security updates
  include_tasks: security_updates.yml

- name: Manage rsyslog client
  include_tasks: rsyslog_client.yml

- name: Manage Postfix and mail aliases
  include_tasks: postfix_client.yml

- name: Flush handlers
  meta: flush_handlers
