---
- name: Install Postfix
  ansible.builtin.package:
    name: postfix
    state: present

- name: Manage Postfix config file
  ansible.builtin.template:
    src: templates/postfix/main-client.cf.j2
    dest: /etc/postfix/main.cf
    owner: root
    group: root
    mode: "0644"
  notify: Restart postfix

- name: Manage mail aliases
  ansible.builtin.template:
    src: templates/postfix/aliases.j2
    dest: /etc/aliases
    owner: root
    group: root
    mode: "0644"
  notify: Build mail aliases
