---
- name: Configure Sensu Agent (Ubuntu)
  when: ansible_distribution == "Ubuntu"
  block:
    - name: Validate required Sensu variables
      ansible.builtin.assert:
        that:
          - cybera_sensu_agent_package_url | length > 0
        fail_msg: "cybera_sensu_agent_package_url must be set when configuring Sensu Agent."

    - name: Install Sensu Agent package
      ansible.builtin.apt:
        deb: "{{ cybera_sensu_agent_package_url }}"

    - name: Manage Sensu group
      ansible.builtin.group:
        name: sensu
        gid: "{{ cybera_sensu_agent_gid }}"

    - name: Manage Sensu user
      ansible.builtin.user:
        name: sensu
        uid: "{{ cybera_sensu_agent_uid }}"
        group: sensu
        shell: /usr/sbin/nologin
        password: "{{ cybera_sensu_agent_password | default('*', true) }}"
        home: /var/lib/sensu
        create_home: False

    - name: Manage /etc/sensu
      ansible.builtin.file:
        name: /etc/sensu
        state: directory
        owner: sensu
        group: sensu
        mode: "0750"

    - name: Manage /etc/sensu/ssl
      ansible.builtin.file:
        name: /etc/sensu/ssl
        state: directory
        owner: sensu
        group: sensu
        mode: "0750"

    - name: Manage /var/lib/sensu permissions
      ansible.builtin.file:
        name: /var/lib/sensu
        state: directory
        owner: sensu
        group: sensu
        mode: "0750"
        recurse: yes

    - name: Manage /var/cache/sensu permissions
      ansible.builtin.file:
        name: /var/cache/sensu
        state: directory
        owner: sensu
        group: sensu
        mode: "0750"
        recurse: yes

    - name: Manage /var/log/sensu permissions
      ansible.builtin.file:
        name: /var/log/sensu
        state: directory
        owner: sensu
        group: sensu
        mode: "0750"
        recurse: yes

    - name: Install trusted CA file
      ansible.builtin.copy:
        src: "{{ cybera_sensu_agent_trusted_ca_file }}"
        dest: "/etc/sensu/sensu-agent-trusted-ca.crt"
        owner: sensu
        group: sensu
        mode: "0640"
      when: cybera_sensu_agent_trusted_ca_file | length > 0
      notify: Restart Sensu Agent

    - name: Configure Sensu
      ansible.builtin.template:
        src: sensu/agent.yml.j2
        dest: /etc/sensu/agent.yml
        owner: sensu
        group: sensu
        mode: "0640"
      notify: Restart Sensu Agent

    - name: Manage the systemd unit file
      ansible.builtin.copy:
        src: files/sensu/sensu-agent.service
        dest: /etc/systemd/system/sensu-agent.service
        owner: root
        group: root
        mode: "0444"
      notify:
        - Restart Sensu Agent
        - Reload systemd

    - name: Manage the sensu-agent service
      ansible.builtin.systemd:
        name: sensu-agent
        enabled: yes
        masked: no
      when: not ansible_check_mode

    - name: Ensure sensu-agent is started
      ansible.builtin.systemd:
        name: sensu-agent
        state: started
      when: not ansible_check_mode
