---
- name: Manage SSH key access for configured users
  ansible.posix.authorized_key:
    user: "{{ item.0.user }}"
    state: "{{ cybera_ssh_public_keys[item.1]['state'] }}"
    key: "{{ cybera_ssh_public_keys[item.1]['ssh_key'] }}"
  with_subelements:
    - "{{ cybera_ssh_authorized_keys_global | combine(cybera_ssh_authorized_keys, list_merge='append', recursive=True) }}"
    - ssh_keys
  tags: cybera_user_management

- name: Ensure password authentication is disabled for ssh
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?\s*PasswordAuthentication\s'
    line: 'PasswordAuthentication no'
    state: present
    validate: 'sshd -t -f %s'
  notify: Restart SSH daemon
  tags: cybera_user_management
