---
- name: Configure systemd SystemMaxUse
  ansible.builtin.ini_file:
    path: /etc/systemd/journald.conf
    section: Journal
    option: SystemMaxUse
    value: 2048M
    mode: '0644'
  notify: Restart journald

- name: Configure systemd RuntimeMaxUse
  ansible.builtin.ini_file:
    path: /etc/systemd/journald.conf
    section: Journal
    option: RuntimeMaxUse
    value: 200M
    mode: '0644'
  notify: Restart journald
