---
- name: Remove specified users
  ansible.builtin.user:
    name: "{{ item }}"
    state: absent
    remove: true
    force: true
  loop: "{{ cybera_system_users_absent }}"
  tags: cybera_user_management

- name: Remove specified personal groups
  ansible.builtin.group:
    name: "{{ item }}"
    state: absent
  loop: "{{ cybera_system_users_absent }}"
  tags: cybera_user_management

- name: Manage system groups
  ansible.builtin.group:
    name: "{{ item.key }}"
    state: "{{ item.value.state | default('present') }}"
    gid: "{{ item.value.gid | default(omit) }}"
  loop: "{{ cybera_system_users | dict2items }}"
  tags: cybera_user_management

- name: Manage system users
  ansible.builtin.user:
    name: "{{ item.key }}"
    state: "{{ item.value.state | default('present') }}"
    uid: "{{ item.value.uid | default(omit) }}"
    group: "{{ item.key }}"
    groups: "{{ item.value.extra_groups | default(omit) }}"
    shell: "{{ item.value.shell | default(omit) }}"
    password: "{{ item.value.password | default('*') }}"
    home: "{{ item.value.home | default(omit) }}"
    create_home: "{{ item.value.create_home | default(False) }}"
  loop: "{{ cybera_system_users | dict2items }}"
  tags: cybera_user_management

- name: Manage sudo access
  ansible.builtin.copy:
    dest: "/etc/sudoers.d/{{ item.key }}"
    content: |
      # User rules for {{ item.key }}
      {{ item.key }} ALL=(ALL) NOPASSWD:ALL
    owner: root
    group: root
    mode: "0440"
    validate: /usr/sbin/visudo -cf %s
  loop: "{{ cybera_system_users | dict2items }}"
  when:
    - item.value.sudo | default(false) is true
    - item.value.state | default('present') == 'present'
  tags: cybera_user_management

- name: Remove sudo access when disabled
  ansible.builtin.file:
    path: "/etc/sudoers.d/{{ item.key }}"
    state: absent
  loop: "{{ cybera_system_users | dict2items }}"
  when: item.value.sudo | default(false) is not true
  tags: cybera_user_management

- name: Remove sudo access for deleted users
  ansible.builtin.file:
    path: "/etc/sudoers.d/{{ item }}"
    state: absent
  loop: "{{ cybera_system_users_absent }}"
  tags: cybera_user_management
