---
- name: Install dotfiles
  ansible.builtin.command:
    cmd: bash create.sh
    chdir: /root/cybera-dotfiles
  changed_when: true
  when: not ansible_check_mode

- name: Restart SSH daemon
  ansible.builtin.service:
    name: "{{ 'ssh' if ansible_os_family == 'Debian' else 'sshd' }}"
    state: restarted
  when: not ansible_check_mode

- name: Restart journald
  ansible.builtin.systemd:
    name: systemd-journald
    state: restarted
  when: not ansible_check_mode

- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: yes
  when: not ansible_check_mode

- name: Restart rsyslog
  ansible.builtin.systemd:
    name: rsyslog
    state: restarted
  when: not ansible_check_mode

- name: Restart postfix
  ansible.builtin.systemd:
    name: postfix
    state: restarted
  when: not ansible_check_mode

- name: Build mail aliases
  ansible.builtin.command:
    cmd: /usr/bin/newaliases
  changed_when: true
  when: not ansible_check_mode

- name: Restart Sensu Agent
  ansible.builtin.systemd:
    name: sensu-agent
    state: restarted
  when: not ansible_check_mode

- name: Save iptables IPv4 Rules
  community.general.iptables_state:
    state: saved
    ip_version: ipv4
    path: /etc/iptables/rules.v4
  when: not ansible_check_mode

- name: Save iptables IPv6 Rules
  community.general.iptables_state:
    state: saved
    ip_version: ipv6
    path: /etc/iptables/rules.v6
  when: not ansible_check_mode

- name: Rebuild GRUB
  ansible.builtin.command:
    cmd: /usr/sbin/update-grub
  changed_when: true
  when: not ansible_check_mode
